html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  color: #244751;
}

// Centered white backdrop

main {
  background: white;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 100%;
  width: 450px;
}
