// Fixed nav bar containing bird logo, app color, app name and a compose button

#nav-bar {
  background: #00a087;
  color: #e8fdff;
  float: left;
  height: 80px;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .header {
  font-size: 200%;
  line-height: 80px;
  padding: 0 0 0 10px;
  }

  .logo {
    float: left;
    height: 80px;
    margin: 0 4px;
    width: 80px;
  }

  button {
    background: #eefffc;
    border: 1px solid black;
    border-radius: 10%;
    color: #00a087;
    font-size: 117%;
    height: 58px;
    margin: 9px;
    padding: 0;
    position: absolute;
    right: 30px;
    width: 110px;

  }
}

#nav-bar button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}