#nav-bar {
  background: #00a087;
  color: #e8fdff;
  float: left;
  height: 80px;
  padding: 0 2em 0 2em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#nav-bar .header {
  font-size: 200%;
  line-height: 80px;
  padding: 0 0 0 10px;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

