.new-tweet {
  background: #eee;
  border-radius: 5px;
  height: 150px;
  left: 2em;
  line-height: 30px;
  margin-top: -80px;
  padding: 0 10px 0 10px;
  position: absolute;
  right: 2em;
  top: 50%;
  z-index: 2;
}

.new-tweet h2 {
  border-bottom: 1.5px solid;
  margin: 9px 0 18px 0;
}

.new-tweet input {
  background: #eee;
  font-size: 80%;
  height: 21px;
  line-height: 1em;
  padding: 0 6px 0 6px;
  position: absolute;
  width: 50px;
}

.new-tweet textarea {
  height: 50px;
  width: 100%;
}

.new-tweet .counter {
  bottom: 5px;
  font-size: 80%;
  font-style: italic;
  padding: 0 5px;
  position: absolute;
  right: 10px;
}